.cuadrado {
    background-color: red;
    height: 30px;
    margin-bottom: 50px;;
    width: 300px;
    position: fixed;
    right: 500px;
    z-index: 1;
}

.circle {
    background-color: green;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    margin: 20px;
    
    
}
/*
*/

.container {
    border: 10px solid black;
    width: 50%;
    height: 500px;
    position: relative;
    left: 200px;
}

